# Logs
logs/
tmp/
reports/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.tgz

# Dependency directories
node_modules/

# Cache
.cache
.docusaurus/
tmp/

# Build
dist/
build/

# Generated
src/generated/**/*.md
src/generated/**/*.schema.json


docs/spec-v1/**/*.md
!docs/spec-v1/consumption.md
static/spec-v1/*
