package-lock = true
save-exact = true

registry="https://int.repositories.cloud.sap/artifactory/api/npm/build-milestones-npm"
@sap:registry = "https://int.repositories.cloud.sap/artifactory/api/npm/build-milestones-npm"
